{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
{% block content %}
<style>
body{
    background-color: lightgray;
}
</style>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Get in Touch with PythonWorld Technologies</h2>
            <p>Thank you for your interest in PythonWorld</p><br><br>
            <p>Please read below that best fits your needs and provide some brief information
                that will enable us to route your request to the appropriate person.
                We look forward to quickly responding to your inquiry</p><br><br>
            <p>Do you have Questions?</p>
            <p>We really appreciate you taking the time to Get In Touch with us.</p>
            <p>We would love to hear from you!</p><br><br>
            <h2>Hyderabad Office</h2>
            <li>3rd Floor Ameerpet, Hyderabad</li>
            <li>Tel: +91 40 1234 0000 (IN – Hyderabad)</li>
            <li>Tel: +91 40 1234 1111 (IN – Hyderabad)</li>
            <li>+91 9000111007</li>
            <li>+91 9000111008</li>
            <li>for Projects : +91 9000111005</li>
            <li>Email: info@pythonworld.com</li><br><br>
            <h2>Mumbai Office</h2>
            <p>2nd Floor Plot No.172 & 173, Above Axis Bank,
                Behind PTC Bus Stop, Mumbai, Maharashtra – 100011.</p>
            <li>Mobile/Whats App:  +91 1234567890</li>
            <li>Email: mumbai@pythonworld.com</li><br><br>
            <h2>24*7 Online Support Team</h2>
            <p>If you want quick answers about general questions, billing,
                online training, classroom training, corporate training,
                please email us at info@pythonworld.com or chat with us.</p><br><br>
            <h2>Get Social</h2>
            <p>Connect with us socially and stay up-to-date on all the latest
                news at PythonWorld</p><br><br><br>
        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>