{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/logindata.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <img src="{% static 'images/galaxy.jpg' %}"
                 width="100%" height="130%">
        </div>

        <div class="col-md-6">
            <br><br><br><br><br><br><br>
            <form method="POST">
                <h2>Please Login Here...</h2>
                {% csrf_token %}
                {{ lform }}<br>
                <center>
                <input type="submit" value="Login" class="btn btn-success">
                <input type="reset" value="Clear" class="btn btn-danger"><br>
                    <a href="/reg/">Create New Account Here</a>
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>