{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/project_home.css' %}">
</head>
<body>
{% block content %}
    <div class="container-fluid">
 <div class="row">
     <div class="col-md-6">
         <h2>About Founder:</h2>
    <h5>&emsp;&emsp;&emsp;&emsp; The Founders of PythonWorld is All Django professionals.<br>
    &emsp;&emsp;&emsp;&emsp;All founders has Phd in Python.<br>
    &emsp;&emsp;&emsp;&emsp;Many successfull students learned from here only.</h5>
<h2>About Institute:</h2>
    <h5> &emsp;&emsp;&emsp;&emsp;PythonWorld was found in 1994 year.<br>
         &emsp;&emsp;&emsp;&emsp;We provide all Facilities like AC class Rooms, Laptops,....<br>
         &emsp;&emsp;&emsp;&emsp;100% job guarantee otherwise refund money.<br>
        &emsp;&emsp;&emsp;&emsp; we have three cafeteria.</h5>
<h2>Achievements:</h2>
    <h5>&emsp;&emsp;&emsp;&emsp; All Students get job before batch ending only<br>
        &emsp;&emsp;&emsp;&emsp; We trained more then 5 lakhs Students in python and django. <br>
        &emsp;&emsp;&emsp;&emsp; We got best institute award by our Prime Minister (Mr.Narendra Modi).
    </h5><br><br><br>
     </div>
     <div class="col-md-6">
        <img src="{% static 'images/Ganesha.jpg' %}" height="100%" width="100%"><br><br><br><br><br>
     </div>
 </div>
    </div>
{% endblock %}
</body>
</html>