{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
{% block content %}
    <style>
    body{
        background-color: palegoldenrod;
    }
    </style>
    <div class="container-fluid">
 <div class="row">
     <div class="col-md-8">
         <p>PythonWorld Major Aspect of Concentration is IT Training at all the levels like Academic or Corporate Level.
             The mode of training and the course content for the training program varies depending upon
             the participants and their requirements.
             Hence we have segregated our training division into the below segments so that maximum
             efficacy can be derived from the training. we are recognized to be the connoisseur
             in providing the best training program to the Candidates who are inclined to be
             Software Professionals</p>
         <h3>Classroom Training</h3>
         <p>This is a custom-made training program to suit the aspirants from different
             educational backgrounds held at our campus. We are renowned around the world
             for this training where every aspirant shall attend technical sessions
             discussing every facet of the subject with in excruciating detail on varied technologies.
             Every aspirant will be provided with the hands on experience through a number
             of lab assignments and case study thereby making them more employable.</p>
    <h4>On-Campus Trainig</h4>
         <p>This training program is for the educational organizations like Colleges and Universities.
             Objective of this training program is to bridge the gap between academic standards and the
             industry requirements while the student is still on the campus, thereby enhancing the
             recruitment and hiring chances of the students.</p>
    <h4>Online Training</h4>
         <p>Our sole maximum in introducing Online Technical Training Sessions is to cater to the Training
             Requirements of the Aspirants who due to various reasons cannot travel physically to our location.
             In the online training program the training sessions shall be conducted over the internet using the
             latest state of the art software tools and the hands on experience also will be provided at the
             convenience of the participant.</p>
    <h4>Corporate Training</h4>
         <p>This training program is tailor-made to suit the working professionals and the course structure
             is customized to meet the project requirements expected from them. We provide these training
             sessions either at the Client Location or in our Campus depending upon the need of the client.
             Training and Development of the Technical expertise of the employees has become the most important
             integral sub-system of any organization operating in the IT industry. It also requires regular
             enhancements and updating of the training programs in accordance with the advancements in
             the technological outset, which poses the major difficulty for the development organizations.
             This is the key juncture where we share our expertise in reducing the training over-heads to
             the corporate sector.  We customize the course content depending on the project requirements
             of the client and the experience level of the participants thereby enhancing the productivity.</p>
    <br><br><br>
     </div>
     <div class="col-md-4">
         <h5>&emsp;&emsp;&emsp;Find Courses Here...</h5>

        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/Python/">Python Trainig</a><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/Django/">Django Training</a><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/UI/">UI Technologies</a><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/RESTAPI/">REST API</a><br><br><br>
         <img src="{% static 'images/pythonlogo.jpg' %}" height="70%" width="100%">
     </div>
 </div>
    </div>
{% endblock %}
</body>
</html>