{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
{% block content %}
<style>
img{
    border: 3px black solid;
}
body{
    background-color: lightpink;
}
</style>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/open1.jpg' %}" height="100%" width="100%">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/open2.jpg' %}" height="100%" width="100%">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/open3.jpg' %}" height="100%" width="100%">
        </div>
    </div><br>
        <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/open4.jpg' %}" height="100%" width="100%">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/open5.jpg' %}" height="100%" width="100%">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/open6.jpg' %}" height="100%" width="100%">
        </div>
    </div><br><br>
    </div>
{% endblock %}
</body>
</html>